containerCard:{
    flexDirection:'row',
    width:width*0.9,
    height:40,
    padding:10,
    margin: 5,
    justifyContent: "space-between",
    alignItems: "center",

  },
  text1: { fontWeight: "600", color: "black", width: "30%" },
  text2: { fontWeight: "600", color: "black", textAlign: "center", width: "30%" },
  text3: { fontWeight: "600", color: "black", textAlign: "right", width: "30%" },
