
.container-agregarUno{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 2%;
   background-color: white;
}
.containerColor-agregarUno{
    margin-top: 2%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1eaea;
    border-radius: 25px;
}

  
.containerNavBar-agregarUno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
/* .modalButtonsContainers{
      width: '100%',
      justifyContent: 'space-around',
      flexDirection: 'row',
} */


.cotainerIcon-agregarUno {
      width: 50%;
      display: flex;
      flex-direction: row;
      
      /* align-items: center; */
      padding:5px;
      margin:10px;
      border-bottom-style: solid;
      border-color: #2C7DA0;
}
.editar-agregarUno {
    border: none;
    background-color: transparent;  
}

.textTitle-agregarUno {
      font-size: 20px;
      font-weight:bold;
      color:black;       
} 
.text-agregarUno {
      font-size: 16px;
      font-weight:bold;
      color: black;       
} 
.button-agregarUno{
    background: linear-gradient(#206593,#25EADE);
    background:  #1a6b91;
    border: none;
    border-radius: 15px;
    margin:5px;
}
.text-button-agregarUno {
    font-size: 16px;
    font-weight:bold;
    color: white;
    width:90% ;         
} 
.modalContainer-agregarUno {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.input-agregarUno{
    width: 70%;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
.containerBack-agregaruno{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.buttonBack-agregarUno{
    border: none;
    background-color: transparent;
    margin-right: -10%;
    margin-left: 3%;
}

@media screen and (max-width: 900px) { 
    .textTitle-agregarUno {
        font-size: 15px;
        font-weight:bold;
        color:black;       
   } 
    .text-agregarUno {
        font-size: 12px;
        font-weight:bold;
        color: black;       
    } 
    .text-button-agregarUno {
        font-size: 0px;
        font-weight:bold;
        color: white;
        width:90% ;         
    } 
    .input-agregarUno{
        width: 70%;
        margin-left: 10px;
        background-color: transparent;
        border: none;
        font-size: 12px;
    }
}
@media screen and (max-width: 700px) { 
    .cotainerIcon-agregarUno {
        width: 70%;
        display: flex;
        flex-direction: row;
        padding:5px;
        margin:10px;
        border-bottom-style: solid;
        border-color: #2C7DA0;
    }
    .containerBack-agregaruno{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .buttonBack-agregarUno{
        width: 20%;
        border: none;
        margin-right: 0;
        margin-left: 0;
    }
    .textTitle-agregarUno {
        margin-left: 8%;
        font-weight:bold;
        color:black;       
    } 
}