
.container-CardProduct {
    display: flex;
    flex-direction:row;
    width:85%;
    padding: 10px;
    padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#F8E9E9,#B9C7CA);
}
.container-CardProducto-selected{
    display: flex;
    flex-direction:row;
    width:85%;
    padding: 10px;
    padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#206593,#25EADE);
    background:  #1a6b91;
}
.text1-CardProduct { font-weight: bold; color: black; text-align: left; width: 30%; }
.text2-CardProduct { font-weight: bold; color: black; text-align: center; width: 30%; }
.text3-CardProduct { font-weight: bold; color: black; text-align: right; width: 30%; }
.text1-CardProduct-selected { font-weight: bold; color: white; text-align: left; width: 30%; }
.text2-CardProduct-selected { font-weight: bold; color: white; text-align: center; width: 30%; }
.text3-CardProduct-selected { font-weight: bold; color: white; text-align: right; width: 30%; }

@media screen and (max-width: 900px) { 
    .text1-CardProduct { font-weight: bold; color: black; text-align: left; width: 30%; font-size: 10px; }
    .text2-CardProduct { font-weight: bold; color: black; text-align: center; width: 30%; font-size: 10px;}
    .text3-CardProduct { font-weight: bold; color: black; text-align: right; width: 30%;font-size: 10px; }
    .text1-CardProduct-selected { font-weight: bold; color: white; text-align: left; width: 30%; font-size: 10px;}
    .text2-CardProduct-selected { font-weight: bold; color: white; text-align: center; width: 30%;font-size: 10px; }
    .text3-CardProduct-selected { font-weight: bold; color: white; text-align: right; width: 30%; font-size: 10px;}
}
  