.container-MenuProductos{
    display: flex;
    flex-direction: column;
}
.container-nav-MenuProductos{
    position: absolute;
    width: 15%;
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

}
.button-Container-MenuProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}
.button-MenuProductos{
    background-color:transparent;
    border: none;
    z-index: 10;
}
.text-button-MenuProductos{
    color: black;
    font-weight: bold;
}
.container-screen-MenuProducts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #fff; */
}
@media screen and (max-width: 700px) {
    .container-MenuProductos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-nav-MenuProductos{
        margin-top: 2%;
        position: relative;
        width: 100%;
        height: 3%;
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-around;
        z-index: 10;
        margin-bottom: 4%;
    }
    .button-Container-MenuProductos{
        display: flex;
        width: 20%;
        align-items: center;
        margin-top: 0px;
        justify-content: center;
    }
    .text-button-MenuProductos{
        font-size: 0px;
    }

}