.container-MenuProductos{
    display: flex;
    flex-wrap: wrap;
    
   
}
.container-nav-MenuProductos{
    position: absolute;
    width: 15%;
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

}
.button-Container-MenuProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}
.button-MenuProductos{
    background-color:transparent;
    border: none;
    z-index: 10;
}
.text-button-MenuProductos{
    color: black;
    font-weight: bold;
}
.container-screen-MenuProducts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
}