.container-myaccount{
    width: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: center ;
}
.container2-myaccount{
    margin-top: 2%;
    width: 100%;
    display:flex ;
    justify-content: center ;
}
.conatiner3-myaccount{
    width: 100%;
    display:flex ;
    justify-content: center ;
}
.text-account{
    margin-right: 1%;
}