.container-navBar {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background:  #1a6b91;
   min-height:49px;
   max-height:49px;
}
.container-navBar-login{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background:  #1a6b91;
    min-height: 49px;
    max-height:49px;
}
.button-navBar {
    background-color: transparent;
    margin-right: 60px;
    font-weight: bold;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: transparent;
    transition: all .6s ease;
}
.textButton-Navbar{
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    color:azure;
    letter-spacing: 0.5px;
}
.textButton-Navbar:hover{
    color: aqua;
}
.buttonOculto-navBar{
    background-color: transparent;
    margin: 15px;
    color:azure;
    font-weight: bold;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: transparent;
}
.button-navBar-selected {
    background-color: transparent;
    margin: 15px;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: white;
}
.button-navBar-selected:hover {
    color:aqua;
    border-bottom: black;
}
@media screen and (min-width: 700px) {
    .burger-navBar{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .burger-navBar{
        padding: 10px;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .container-navBar {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 0%;
        display: flex;
        justify-content: right;
        align-items: center;
        background:  #1a6b91;
        min-height:49px;
        max-height:49px;
     }
    .container-navBar.active-navBar{
        padding-top: 23px;
        padding-bottom: 7px;
        padding-right: 0%;
        min-height:none;
        max-height:none;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        background:  #1a6b91;
     }
    .buttonOculto-navBar{
        background-color: transparent;
        margin: 15px;
        color:#fff;
        font-weight: bold;
        font-size: 15px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-color: white;
        position: absolute;
        top: -700px;
        left: -2000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        font-size: 2rem;
        display: block;
        transition: all 6s ease-out;
    }
    .container-navBar-login{
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        background:  #1a6b91;
        min-height: 49px;
        max-height:49px;
    }
}
