.container-login {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content:center;
    align-items: center;
    background-color:"#f1f1f1";
    box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5% 30% 5% 30%;
    background-color: #F0F3F4;
}

.title-login {
    margin-top:10%;
    font-size:50px;
    color:"#000";
    font-weight: bold;
}
.sub-title-login {
    margin-top:10px;
    font-size:25px;
    color:"#000";
}
.text-login {
    margin-top:10px;
    font-size:14px;
    color:"gray";
    border: 0;
    
}
.text-input-login {
    width:60%;
    height:35px;
    margin-top: 20px;
    border-radius: 25px;
    background-color:"#fff";
    border: none;
    text-align: center;
}
